<div class="header">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a href="" class=" navbar-brand header-logo">
     <img src='../../assets/telegrafi_logo.svg'>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav main-menu">
        <li class="nav-item active">
          <a class="nav-link" href="#">LAJME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BOTË</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">EKONOMI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SPORT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MAGAZINA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CULT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FEMRA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">STILI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SHËNDETËSI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">KUZHINA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">AUTO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">TEKNOLOGJI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FUN</a>
        </li>
      </ul>
    </div>
    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h4 class="text-white">Collapsed content</h4>
          <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
      </div>
    </div>
  </nav>
</div>
