<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class=" row logo-footer p-0">
            <div class="col-1 text-right p-0">
              <img src='../../assets/logo-telegrafi-footer.png'>
            </div>
            <div class="col-11 text-left p-0">
              <p>
                <strong>TELEGRAFI sh.p.k.</strong>
                Rr. Rexhep Mala, Aktash, Nr.29, Prishtinë, Kosovë
                info@telegrafi.com +383 48 222 355
              </p>
            </div>
          </div>
          <div class="copyright text-left">
            <p>Ky portal mirëmbahet nga kompania "Telegrafi". Materialet dhe informacionet në këtë portal nuk mund të kopjohen, të shtypen, ose të përdoren në çfarëdo forme tjetër për qëllime përfitimi, pa miratimin e drejtuesve të "Telegrafit". Për ta shfrytëzuar materialin e këtij portali obligoheni t'i pranoni Kushtet e përdorimit. </p>
          </div>
        </div>
        <div class="col-md-7 col-sm-12">
          <div class="footer-partner">
            <span class="d-block">Partneret</span>
            <a href="">
              <img src='../../assets/dukagjini-new-logo.png'>
            </a>
            <a href="">
              <img src='../../assets/deutsche-welle-logo.png'>
            </a>
            <a href="">
              <img src='../../assets/shkabaj-logo.png'>
            </a>
            <a href="">
              <img src='../../assets/toske_geg.png'>
            </a>
          </div>
          <div class="footer-menu">
            <div class="row">
              <ul class="col-sm-6 col-md-3 text-white">
                <li>Lajme</li>
                <li>Ekonomi</li>
                <li>Sport</li>
                <li>Magazina</li>
                <li>Femra</li>
              </ul>
              <ul class="col-sm-6 col-md-3 text-white">
                <li>Stili</li>
                <li>Shendetsia</li>
                <li>Teknologji</li>
                <li>Auto</li>
                <li>Fun</li>
              </ul>
              <ul class="col-sm-6 col-md-3 text-white">
                <li>Radio Dukagjini</li>
                <li>Smard</li>
                <li>Telegrafi Jobs</li>
                <li>Marketing</li>
                <li>Arkiva</li>
              </ul>
              <ul class="col-sm-6 col-md-3 text-white">
                <li>Per Ne</li>
                <li>Privacy Policy</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <p>Të gjitha të drejtat janë të rezervuara © 2006-2020 Portali Telegrafi</p>

      </div>
    </div>
  </div>
</footer>
